.cards {
    display: grid;
    gap: var(--spacing-lg);
    margin-top: var(--spacing-xl);
    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }
    @media (width <= $breakpoint-sm) {
        grid-template-columns: unset;
        gap: var(--spacing-xl);
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        grid-template-columns: unset;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-md);
    h3,
    p,
    a {
        margin: 0;
    }
}

.card__media {
    border-radius: var(--spacing-sm);
    overflow: hidden;
    aspect-ratio: 595 / 490;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
