.header {
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    a {
        color: var(--color-white);

        &:hover,
        &.active {
            color: var(--color-primary);
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 50px;
        list-style: none;
    }
}
