.hero {
    position: relative;
    height: 80vh;

    .wrapper {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    @media (width <= $breakpoint-md) {
        height: 60vh;
    }
}

.hero__content {
    width: 50%;
}

.hero__media {
    background: #000000;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
